{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "main" }}

    {{- /* Things in site config */}}
    {{- $thumb_height := default 250 ($.Param "thumb_height") }}
    {{- $full_width := default 960 ($.Param "full_width") }}
    {{- $thumb_quality := default 50 ($.Param "thumb_quality") }}
    {{- $full_quality := default 90 ($.Param "full_quality") }}

    {{- $thumb_size := printf "x%d q%d" $thumb_height $thumb_quality }}
    {{- $full_size := printf "%dx q%d" $full_width $full_quality }}

    {{- /* Get and reorder the list of images */}}
    {{- $imgglob := printf "*%s" (path.Join .File.Dir "**") }}
    {{- $imageresources := where (resources.Match $imgglob) "ResourceType" "image" }}
    {{- $scratch := newScratch }}
    {{- $scratch.Set "Title" .Title }}
    {{- $images := $imageresources }}
    {{- $nbImages := len $images }}


    {{- /* Reize images and capture their urls */}}
    {{- range $index, $image := $images }}
        {{- with $image -}}
            {{- $img_dat := newScratch }}
            {{- $img_dat.Set "alt" "" }}
            {{- $img_dat.Set "phototitle" "" }}
            {{- $img_dat.Set "description" "" }}
            {{- $img_path := .Name }}
            {{- with $.Params.resources }}
                {{- range first 1 (where . "src" $img_path) }}
                    {{- if isset . "alt" }}{{ $img_dat.Set "alt" .alt }}{{ end }}
                    {{- if isset . "phototitle" }}{{ $img_dat.Set "phototitle" .phototitle }}{{ end }}
                    {{- if isset . "description" }}{{ $img_dat.Set "description" .description }}{{ end }}
                {{- end }}
            {{- end }}
            {{- $thumb := .Resize $thumb_size }}
            {{- $full := .Resize $full_size }}
            {{- $img_dat.Set "full" $full.RelPermalink }}
            {{- $img_dat.Set "thumb" $thumb.RelPermalink }}
            {{- $scratch.Add "images" (slice $img_dat) }}
        {{ end }}
    {{ end }}


    <div id="main">
        <div id="ltb-container">
            <div id="album-header">
                <h1>{{- .Title}}</h1>
                {{ with .Params.Get "quote"}}
                    <blockquote author={{ .author }}>{{ .text }}</blockquote>
                {{ end }}            
            </div>
            <div class="container" id="ltb-gallery">
                <!-- Images used to open the lightbox -->
                <div class="row">
                    {{- range $index, $image := $scratch.Get "images" }}
                        {{- with $image -}}
                            <div class="column">
                                <img src='{{ .Get "thumb" }}' onclick="openModal();currentSlide({{ add  $index 1 }})" class="hover-shadow">
                            </div>
                        {{- end }}
                    {{- end }}
                </div>
                <!-- The Modal/Lightbox -->
                <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="table">
                        {{- range $index, $image := $scratch.Get "images" }}
                            {{- with $image -}}
                                <div class="column item">
                                    <img class="demo contain" src='{{ .Get "thumb" }}' style="flex-basis: 150px; flex-shrink: 1;" onclick="currentSlide({{ add  $index 1 }})" alt='{{ $scratch.Get "Title" }}   ({{ add  $index 1}} / {{ $nbImages }})'>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="modal-content">

                        <!-- Caption text -->
                        <div class="caption-container">
                            <!-- Next/previous controls -->
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <p id="caption"></p>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>   



                        {{- range $index, $image := $scratch.Get "images" }}
                            {{- with $image -}}
                                <div class="mySlides">
                                    <img src='{{ .Get "full" }}' class="fill" />
                                </div>
                            {{- end }}
                        {{- end }}
                    
                         
                    </div>

                    
                </div>
            </div>
            
        </div>
    </div>
{{ end }}
