{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "main" }}

    {{- /* Things in site config */}}
    {{- $column_count := default 1 ($.Param "column_count") }}
    {{- $thumb_height := default 250 ($.Param "thumb_height") }}
    {{- $full_width := default 960 ($.Param "full_width") }}
    {{- $thumb_quality := default 50 ($.Param "thumb_quality") }}
    {{- $full_quality := default 90 ($.Param "full_quality") }}

    {{- $thumb_size := printf "x%d q%d" $thumb_height $thumb_quality }}
    {{- $full_size := printf "%dx q%d" $full_width $full_quality }}

    {{- /* Get and reorder the list of images */}}
    {{- $imgglob := printf "*%s" (path.Join .File.Dir "**") }}
    {{- $imageresources := where (resources.Match $imgglob) "ResourceType" "image" }}
    {{- $images := $imageresources }}

    {{- /* Initialize the column storage */}}
    {{- range $column_ind := seq $column_count }}
        {{- $st_name := printf "col-%d" $column_ind }}
        {{- $st_height_name := printf "col-height-%d" $column_ind }}
        {{- $.Scratch.Set $st_name (slice) }}
        {{- $.Scratch.Set $st_height_name 0 }}
    {{- end }}

    {{- /* Set the columns */}}
    {{- range $elem_index, $elem_val := $images}}

        {{- /* Find the least-filled column */}}
        {{- $.Scratch.Set "min_height" -1 }}
        {{- $.Scratch.Set "min_col" -1 }}
        {{- range $column_ind := seq $column_count }}
            {{- $st_height_name := printf "col-height-%d" $column_ind }}
            {{- $col_height := $.Scratch.Get $st_height_name }}
            {{- $min_height := $.Scratch.Get "min_height" }}
            {{- if (or (eq $min_height -1) (lt $col_height $min_height)) }}
                {{- $.Scratch.Set "min_height" $col_height }}
                {{- $.Scratch.Set "min_col" $column_ind }}
            {{- end }}
        {{- end }}

        {{- /* column_ind becomes the least-filled column */}}
        {{- $column_ind := $.Scratch.Get "min_col" }}
        {{- if eq $column_ind -1 }}
            {{- errorf "Failed to find a least-filled column!"}}
        {{- end }}
        {{- $st_name := printf "col-%d" $column_ind }}
        {{- $st_height_name := printf "col-height-%d" $column_ind }}

        {{- $column := $.Scratch.Get $st_name }}
        {{- $column := $column | append $elem_val }}
        {{- $.Scratch.Set $st_name $column }}

        {{- $thumb := $elem_val.Resize $thumb_size }}
        {{- $.Scratch.Set $st_height_name (add ($.Scratch.Get $st_height_name) $thumb.Height) }}
    {{- end }}


    <div id="main">
    <div id="ltb-container">
        <div class="container" id="ltb-gallery">
            {{- range $column_ind := seq $column_count }}
                {{- $st_name := printf "col-%d" $column_ind }}
                {{- $column := $.Scratch.Get $st_name }}
                {{- range $index, $image := $column }}
                    {{- with $image -}}
                        {{- $img_dat := newScratch }}
                        {{- $img_dat.Set "alt" "" }}
                        {{- $img_dat.Set "phototitle" "" }}
                        {{- $img_dat.Set "description" "" }}

                        {{- $img_path := .Name }}
                        {{- with $.Params.resources }}
                            {{- range first 1 (where . "src" $img_path) }}
                                {{- if isset . "alt" }}{{ $img_dat.Set "alt" .alt }}{{ end }}
                                {{- if isset . "phototitle" }}{{ $img_dat.Set "phototitle" .phototitle }}{{ end }}
                                {{- if isset . "description" }}{{ $img_dat.Set "description" .description }}{{ end }}
                            {{- end }}
                        {{- end }}
                        {{- $thumb := .Resize $thumb_size }}
                        <div><img src="{{ $thumb.RelPermalink }}"/><a href="#lightbox-{{ $index }}">{{ $img_dat.Get "phototitle" | markdownify }}</a></div>
                    {{- end }}
                {{- end }}
            {{- end }}
        </div>
        
        {{- range $column_ind := seq $column_count }}
            {{- $st_name := printf "col-%d" $column_ind }}
            {{- $column := $.Scratch.Get $st_name }}
            {{- range $index, $image := $column }}
                {{- with $image -}}
                    {{- $img_dat := newScratch }}
                    {{- $img_dat.Set "alt" "" }}
                    {{- $img_dat.Set "phototitle" "" }}
                    {{- $img_dat.Set "description" "" }}

                    {{- $img_path := .Name }}
                    {{- with $.Params.resources }}
                        {{- range first 1 (where . "src" $img_path) }}
                            {{- if isset . "alt" }}{{ $img_dat.Set "alt" .alt }}{{ end }}
                            {{- if isset . "phototitle" }}{{ $img_dat.Set "phototitle" .phototitle }}{{ end }}
                            {{- if isset . "description" }}{{ $img_dat.Set "description" .description }}{{ end }}
                        {{- end }}
                    {{- end }}
                    {{- $full := .Resize $full_size }}
                        <div class="lightbox" id="lightbox-{{ $index }}">
                            <div class="content">
                                <img src="{{ $full.RelPermalink }}"/>
                                <div class="title">
                                    {{ if not $.Site.Params.no_exif }}
                                        {{ if in (slice "jpg" "jpeg" "tiff" "tif") $full.MediaType.SubType }}
                                        {{- with $full.Exif -}}
                                            
                                            <ul>
                                                {{/*  {{ printf "%#v" . }}   */}}
                                                {{- with .Date }}<li><i class="fas fa-calendar-alt"></i> {{ .Format "January 02, 2006" }}</li>{{ end }}
                                                {{- if isset . "Nikon3" -}}
                                                    {{- with .Nikon3}}<li><i class="fas fa-bullseye"></i> {{ .Lens }}</li>{{ end }}
                                                {{ end }}
                                                {{- with .Tags -}}
                                                <li><i class="fas fa-camera"></i> {{- if isset . "Model" }}
                                                        {{/*  {{ if not (hasPrefix (lower .Model) (lower .Make)) }}
                                                            {{ .Make }} 
                                                        {{ end }}  */}}
                                                        {{ .Model }}
                                                    {{- else }}
                                                        {{ if isset $full.Params "composite" }}
                                                            {{ $full.Params.composite }}
                                                        {{- else }}Composite Photo
                                                        {{ end }}
                                                    {{ end }}
                                                </li>
                                                <li><i class="fas fa-bullseye"></i> {{- if isset . "LensModel" -}}
                                                    {{- if not (hasPrefix (lower .LensModel) (lower .Make)) }}
                                                            {{ .LensModel }}
                                                        {{- else }}
                                                            {{ substr .LensModel (len .Make)}}
                                                        {{ end }} @ {{ .FocalLength }}mm
                                                    {{- else }}
                                                        {{ .FocalLength }}mm
                                                    {{- end }}
                                                </li>
                                                {{- with .ExposureTime }}<li><i class="fas fa-hourglass-half"></i>  {{ . }}s</li>{{ end }}
                                                {{- with .FNumber }}<li><i class="fas fa-adjust"></i> f/{{ . }}</li>{{ end }}
                                                {{- with .ISOSpeedRatings }}<li><i class="fas fa-film"></i>  ISO {{ . }}</li>{{ end }}
                                                {{- with .DateTaken }}<li>Taken at {{ .Format "January 2, 2006" }}</li>{{ end }}
                                                {{- with .Copyright }}<li><i class="far fa-copyright"></i> {{ . }}</li>{{ end }}
                                                {{- end -}}
                                            </ul>
                                            
                                        {{- end }}
                                    {{- end }}{{ end }}
                                </div>
                            <a class="close" href="#ltb-gallery"><i class="far fa-times-circle"></i></a>
                            </div>
                        </div>
                        
                        {{/*  <div class="box">
                            <img src="{{ $full.RelPermalink }}" alt="Thumbnail of {{ $full.Name }}">
                            <div class="exif">
                                {{ if not $.Site.Params.no_exif }}
                                    {{ if in (slice "jpg" "jpeg" "tiff" "tif") $full.MediaType.SubType }}
                                    {{- with $full.Exif -}}
                                        {{- with .Tags -}}
                                            <li><i class="fas fa-camera"></i> {{- if isset . "Model" }}
                                                    {{ if not (hasPrefix (lower .Model) (lower .Make)) }}
                                                        {{ .Make }} 
                                                    {{ end }}
                                                    {{ .Model }}
                                                {{- else }}
                                                    {{ if isset $full.Params "composite" }}
                                                        {{ $full.Params.composite }}
                                                    {{- else }}Composite Photo
                                                    {{ end }}
                                                {{ end }}
                                            </li><i class="fas fa-telescope"></i> 
                                            {{- if isset . "LensModel" -}}
                                                <li>{{- if not (hasPrefix (lower .LensModel) (lower .Make)) }}
                                                        {{ .LensModel }}
                                                    {{- else }}
                                                        {{ substr .LensModel (len .Make)}}
                                                    {{ end }} @ {{ .FocalLength }}mm
                                                </li>
                                            {{- end }}
                                            {{- with .ExposureTime }}<li><i class="fas fa-hourglass-half"></i>  {{ . }}s</li>{{ end }}
                                            {{- with .FNumber }}<li><i class="fas fa-adjust"></i> f/{{ . }}</li>{{ end }}
                                            {{- with .ISOSpeedRatings }}<li><i class="fas fa-film"></i>  ISO {{ . }}</li>{{ end }}
                                            {{- with .DateTaken }}<li>Taken at {{ .Format "January 2, 2006" }}</li>{{ end }}
                                        {{- end -}}
                                    {{- end }}
                                {{- end }}{{ end }}
                            </div>
                        </div>  */}}
                {{- end }}
            {{- end }}
        {{- end }}
    </div>
    </div>
      


    {{/*  <div id="main">
        <ul id="og-grid" class="og-grid">
            {{- range $column_ind := seq $column_count }}
                {{- $st_name := printf "col-%d" $column_ind }}
                {{- $column := $.Scratch.Get $st_name }}
                {{- range $column }}

                    {{- $img_dat := newScratch }}
                    {{- $img_dat.Set "alt" "" }}
                    {{- $img_dat.Set "phototitle" "" }}
                    {{- $img_dat.Set "description" "" }}

                    {{- $img_path := .Name }}
                    {{- with $.Params.resources }}
                        {{- range first 1 (where . "src" $img_path) }}
                            {{- if isset . "alt" }}{{ $img_dat.Set "alt" .alt }}{{ end }}
                            {{- if isset . "phototitle" }}{{ $img_dat.Set "phototitle" .phototitle }}{{ end }}
                            {{- if isset . "description" }}{{ $img_dat.Set "description" .description }}{{ end }}
                        {{- end }}
                    {{- end }}

                    {{- $thumb := .Resize $thumb_size }}
                    {{- $full := .Resize $full_size }}
                    <li>
                        <a href="{{ if isset $full.Params "button_url" }}{{ $full.Params.button_url }}{{ else }}#{{ end }}" data-largesrc="{{ $full.RelPermalink }}" 
                        data-title="{{ $full.Name }}"
                        data-description="{{ $full.Params.description | markdownify }}"
                        {{ if isset $full.Params "button_text" }}data-buttontext="{{ $full.Params.button_text }}"{{ end }} 
                        {{ if not $.Site.Params.no_exif }}
                        data-exif="{{ if in (slice "jpg" "jpeg" "tiff" "tif") $full.MediaType.SubType }}
                        {{- with $full.Exif -}}
                            {{- with .Tags -}}
                                <li>{{- if isset . "Model" }}{{ if not (hasPrefix (lower .Model) (lower .Make)) }}{{ .Make }} {{ end }}{{ .Model }}
                                    {{- else }}{{ if isset $full.Params "composite" }}{{ $full.Params.composite }}
                                    {{- else }}Composite Photo{{ end }}{{ end }}</li>
                                {{- if isset . "LensModel" -}}
                                <li>{{- if not (hasPrefix (lower .LensModel) (lower .Make)) }}{{ .LensModel }}
                                    {{- else }}{{ substr .LensModel (len .Make)}}{{ end }} @ {{ .FocalLength }}mm</li>
                                {{- end }}
                                {{- with .ExposureTime }}<li>S.S. {{ . }}s</li>{{ end }}
                                {{- with .FNumber }}<li>A. f/{{ . }}</li>{{ end }}
                                {{- with .ISOSpeedRatings }}<li>ISO {{ . }}</li>{{ end }}
                            {{- end -}}
                                <li>Taken at {{ if isset $full.Params "timestamp" }} {{ $full.Params.timestamp }} {{ else }}{{ .Date.Format "2006-1-2 15:04" }}{{ end }}</li>
                            {{- end }}
                            {{- end }}"{{ end }}>
                            <img class="lazy" data-src="{{ $thumb.RelPermalink }}" style="width:{{ $thumb.Width }}px;" alt="Thumbnail of {{ $full.Name }}"/>
                        </a>
                        <p>
                            <span class="hide-when-small">{{ $img_dat.Get "description" | markdownify }}</span>
                            <span class="download_button"><a href="{{ $full.RelPermalink }}" download="{{ path.Base .Name }}"><i class="fa fa-download"></i></a></span>
                        </p>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
</div>  */}}
{{ end }}
